<div class="container p-tb-150 p-b-150">

    <h2 class="f_quando">Ajouter un article :</h2>
    <form method="post" action="" enctype="multipart/form-data">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="name">Nom du produit :</label>
                    <input type="text" name="name" class="form-control" id="productName" required>
                </div>
                <div class="form-group">
                    <label for="category">Catégorie :</label>
                    <select name="category" class="form-control" id="categoryName" required>
                        <option value="manga">Manga</option>
                        <option value="dvd">DVD</option>
                        <option value="goodies">Goodies</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="price">Prix :</label>
                            <input type="number" name="price" class="form-control" id="productPrice" required>
                        </div>
                    </div>
                    <div class="col-6" id="uploader">
                        <div class="form-group">
                            <label for="picture">Image</label>
                            <input type="file" class="form-control-file" id="productPicture" name="picture">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description :</label>
                    <textarea class="form-control" id="productDescription" name="description" rows="3" required></textarea>
                </div>
                <div class="form-group">
                    <label for="review">Avis de la boutique (optionnel) :</label>
                    <textarea class="form-control" id="productCommentary" name="review" rows="3" ></textarea>
                </div>
            </div>
            <div class="col-6">
                <img src="https://via.placeholder.com/600x300" alt="productPreview">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="highlight" name="highlight">
                    <label class="form-check-label" for="highlight">Je souhaite que cet article soit mis en avant dans l'onglet nouveautés.</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-shinjuku">Valider</button>
            </div>
        </div>
    </form>

</div>
