{% extends 'layout.html.twig'%}
{% block title %}{{ parent() }} - Boutique {% endblock %}
{% block content %}
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-15">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl13 p-b-16 bold">
                        Présentation
                    </h3>

                    <p class="stext-113 p-b-26">
                        Vous cherchez des Mangas ? <br/> Shinjuku world est le temple du genre à Orléans ! Cette boutique de référence de la culture japonaise est remplie du sol au plafond de mangas, de revues portant sur les mangas et le japon, de DVD d'animés, de maquettes, et de goodies.... de mangas !
                    </p>

                    <p class="stext-113 p-b-26">
                        La librairie propose aussi une sélection de comics, on n'est pas sectaires chez Shinjuku ! La boutique sort toutefois du lot des librairies spécialisées en proposant un rayon d'occasions et en organisant chaque semaine des tournois de cartes Magic mais aussi moins régulièrement de cartes Pokemon et Yu-Gi-Oh ! : Avis aux amateurs !
                    </p>

                </div>
            </div>
            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="../assets/images/about-1.jpg" alt="vitrine">
                    </div>
                </div>
            </div>
        </div>

        <div class="container icons01 p-b-50">
            <div class="row">
                <img class="col d-flex align-self-center"  src="../assets/images/hire-japanese-culture.png" alt="éventail">
            </div>
        </div>

        <div class="row p-b-15">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl13 p-b-16 bold">
                        Notre philosophie
                    </h3>

                    <p class="stext-113 p-b-26">
                        Shinjuku world est <span>LA</span> boutique de vente de manga sur Orléans. Passionnés par le Japon et les mangas, nos vendeurs ont tous une grande expérience sur les produits existants (manga, DVD, figurines...). De plus, nous sommes toujours à l’affût des nouvelles tendances, des nouvelles sorties, et tâchons de vous proposer les nouveautés du moment. Notre boutique se veut un lieu convivial où nous prendrons toujours plaisir à vous conseiller ou vous apprendre tout ce qu'il faut savoir sur la culture manga ! De plus, nous organisons régulièrement des événements, des ateliers ou des soirées jeux (cartes Magic, jeux de rôles...). N'hésitez pas à suivre notre fil d'actualités pour plus d'informations. À bientôt en boutique !
                    </p>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="../assets/images/about-2.jpg" alt="interieurdelaboutique">
                    </div>
                </div>
            </div>
        </div>

        <div class="container icons01 p-b-75">
            <div class="row">
                <img class="col d-flex align-self-center"  src="../assets/images/hire-japanese-culture.png" alt="éventail">
            </div>
        </div>
        <div class="row p-b-15">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl13 p-b-16 bold">
                        Occasion
                    </h3>

                    <p class="stext-113 p-b-26">
                        Nous proposons à nos clients une collection de mangas et DVD/BluRay d'occasion. Tous les produits sont complets, de qualités, reconditionnés et proposés au meilleurs prix. D'autre part, si vous souhaitiez vous séparer d'une partie de votre collection, n'hésitez pas à passer à la boutique pour profiter des conseils de nos vendeurs, qui pourront redonner une deuxième vie à vos livres et autres produits.
                    </p>

                </div>
            </div>
            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1">
                    <div class="hov-img0">
                        <img src="../assets/images/about-3.jpg" alt="bacoccasion">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container icons01 p-b-50">
        <div class="row">
            <img class="col d-flex align-self-center"  src="../assets/images/hire-japanese-culture.png" alt="éventail">
        </div>
    </div>
</section>


{% endblock %}