{% extends 'layout.html.twig' %}
{% block title %}{{ parent() }} - Boutique {% endblock %}
{% block content %}
    <section class="bg0 p-t-75 p-b-120">
        <div class="container">
            <div class="row p-b-15">
                <div class="col-md-7 col-lg-8">
                    <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                        <h3 class="mtext-111 cl13 p-b-16 bold">
                            Présentation
                        </h3>

                        <p class="stext-113 p-b-26">
                            Vous cherchez des Mangas ? <br/> Shinjuku world est le temple du genre à Orléans ! Cette
                            boutique de référence de la culture japonaise est remplie du sol au plafond de mangas, de
                            revues portant sur les mangas et le japon, de DVD d'animés, de maquettes, et de goodies....
                            de mangas !
                        </p>

                        <p class="stext-113 p-b-26">
                            La librairie propose aussi une sélection de comics, on n'est pas sectaires chez Shinjuku !
                            La boutique sort toutefois du lot des librairies spécialisées en proposant un rayon
                            d'occasions et en organisant chaque semaine des tournois de cartes Magic mais aussi moins
                            régulièrement de cartes Pokemon et Yu-Gi-Oh ! : Avis aux amateurs !
                        </p>

                    </div>
                </div>
                <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                    <div class="how-bor1 ">
                        <div class="hov-img0">
                            <img src="../assets/images/about-1.jpg" alt="vitrine">
                        </div>
                    </div>
                </div>
            </div>

            <div class="container icons01 p-b-50">
                <div class="row">
                    <img class="col d-flex align-self-center" src="../assets/images/hire-japanese-culture.png"
                         alt="éventail">
                </div>
            </div>

            <div class="row p-b-15">
                <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                    <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                        <h3 class="mtext-111 cl13 p-b-16 bold">
                            Notre philosophie
                        </h3>

                        <p class="stext-113 p-b-26">
                            Shinjuku world est <span>LA</span> boutique de vente de manga sur Orléans. Passionnés par le
                            Japon et les mangas, nos vendeurs ont tous une grande expérience sur les produits existants
                            (manga, DVD, figurines...). De plus, nous sommes toujours à l’affût des nouvelles tendances,
                            des nouvelles sorties, et tâchons de vous proposer les nouveautés du moment. Notre boutique
                            se veut un lieu convivial où nous prendrons toujours plaisir à vous conseiller ou vous
                            apprendre tout ce qu'il faut savoir sur la culture manga ! De plus, nous organisons
                            régulièrement des événements, des ateliers ou des soirées jeux (cartes Magic, jeux de
                            rôles...). N'hésitez pas à suivre notre fil d'actualités pour plus d'informations. À bientôt
                            en boutique !
                        </p>
                    </div>
                </div>

                <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                    <div class="how-bor2">
                        <div class="hov-img0">
                            <img src="../assets/images/about-2.jpg" alt="interieurdelaboutique">
                        </div>
                    </div>
                </div>
            </div>

            <div class="container icons01 p-b-75">
                <div class="row">
                    <img class="col d-flex align-self-center" src="../assets/images/hire-japanese-culture.png"
                         alt="éventail">
                </div>
            </div>
            <div class="row p-b-50">
                <div class="col-md-7 col-lg-8">
                    <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                        <h3 class="mtext-111 cl13 p-b-16 bold">
                            Occasion
                        </h3>

                        <p class="stext-113 p-b-26">
                            Nous proposons à nos clients une collection de mangas et DVD/BluRay d'occasion. Tous les
                            produits sont complets, de qualités, reconditionnés et proposés au meilleurs prix. D'autre
                            part, si vous souhaitiez vous séparer d'une partie de votre collection, n'hésitez pas à
                            passer à la boutique pour profiter des conseils de nos vendeurs, qui pourront redonner une
                            deuxième vie à vos livres et autres produits.
                        </p>

                    </div>
                </div>
                <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                    <div class="how-bor1">
                        <div class="hov-img0">
                            <img src="../assets/images/about-3.jpg" alt="bacoccasion">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container icons01 p-b-50">
            <div class="row">
                <img class="col d-flex align-self-center" src="../assets/images/hire-japanese-culture.png"
                     alt="éventail">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="p-lr-100 p-t-25 mx-auto">
                    <div class="p-tb-25">
                        <h5 class="card-title bold">Adresse :</h5>
                        <p class="card-text">19 Rue Ste Catherine, 45000 Orléans</p>
                    </div>
                    <div class="p-tb-25">
                        <h5 class="card-title bold">Horaires :</h5>
                        <p class="card-text">
                            lundi: Fermé <br/>
                            mardi: 10:00–12:00, 14:00–19:00<br/>
                            mercredi: 10:00–12:00, 14:00–19:00<br/>
                            jeudi: 10:00–12:00, 14:00–19:00<br/>
                            vendredi: 10:00–12:00, 14:00–19:00<br/>
                            samedi: 10:00–19:00<br/>
                            dimanche: Fermé
                        </p>
                    </div>
                    <div class="p-t-25 p-b-50">
                        <h5 class="card-title bold">Téléphone :</h5>
                        <p class="card-text">02 38 54 01 57</p>
                    </div>

                </div>
                <div class="col-6 d-none d-sm-none d-md-none d-lg-block">
                    <iframe width="600" height="500" frameborder="0" scrolling="no"
                            marginheight="0" marginwidth="0"
                            src="https://www.openstreetmap.org/export/embed.html?bbox=1.9038936495780945%2C47.899802754299%2C1.9068360328674319%2C47.90130785191147&amp;layer=mapnik&amp;marker=47.90055530857492%2C1.905364841222763">
                    </iframe>
                    <br/>
                    <small>
                        <a href="https://www.openstreetmap.org/?mlat=47.90056&amp;mlon=1.90536#map=19/47.90056/1.90536&amp;layers=N"
                           class="cl13">Afficher
                            une carte plus grande</a>
                    </small>
                </div>
            </div>
        </div>

        {#MODAL MODAL MODAL MODAL MODAL MODAL MODAL #}
        <div class="container">
            <div class="row">
                <div class=" mx-auto">
                    <button type="button" class="btn btn-danger d-sm-block d-md-block d-lg-none" data-toggle="modal"
                            data-target="#exampleModal">
                        Voir la carte
                    </button>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="col">
                            <iframe class="mapmodal" frameborder="0" scrolling="no" marginheight="0"
                                    marginwidth="0"
                                    src="https://www.openstreetmap.org/export/embed.html?bbox=1.9038936495780945%2C47.89980455253014%2C1.9068360328674319%2C47.90130965009032&amp;layer=mapnik&amp;marker=47.900557106779935%2C1.905364841222763">
                            </iframe>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}