{% extends 'layout.html.twig' %}

{% block content %}


    <!-- Title page -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center title-category m-t-100">
                <img class="eventail-category" src="../assets/images/hire-japanese-culture.png" alt="éventail">
                <h2>Présentation</h2>
                <img class="eventail-category" src="../assets/images/hire-japanese-culture.png" alt="éventail">
            </div>
        </div>
    </div>


        <!-- Content page -->
    <section class="container mt-5 pt-3">
        <div class="row">
            <div class=" col-sm-4 ">
                {% include 'Home/facebook_api.html.twig' %}
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <h3 class="mtext-111 cl2 p-b-16">LA boutique Orléanaise de manga !</h3>
                <p class="stext-113  p-b-26">
                    Toutes l'equipe vous accueillent avec passion pour vous accompagner à la decouverte de nos
                    nombreuses references (Manga, DVD, Goodies) : Classiques, Nouveautés, Occasions.
                    Venez nous rencontrer lors des événements, des ateliers ou des soirées et conquerir le
                    SHINJUKU WORLD !!!
                </p>
                <img class="mt-2 present-imag" src="../assets/images/about-1.jpg" alt="Image boutique"/>
            </div>
        </div>
    </section>



    <div class="container-fluid m-t-100">
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center title-category m-t-100">
                <img class="eventail-category" src="../assets/images/hire-japanese-culture.png" alt="éventail">
                <h2>Nos Nouveautés</h2>
                <img class="eventail-category" src="../assets/images/hire-japanese-culture.png" alt="éventail">
            </div>
        </div>
    </div>
    {% include 'Article/cardArticle.html.twig' %}



{% endblock %}

