{% extends 'layout.html.twig' %}

{% block content %}


    <!-- Title page -->
    <section class="container mt-5 pt-3">
        <h2 class="mb-5 pb-3 text-center">
            Présentation
        </h2>

        <!-- Content page -->
        <div class="row">
            <div class="col-sm-6">
                <h3 class="mtext-111 cl2 p-b-16">LA boutique Orléanaise de manga !</h3>
                <p class="stext-113  p-b-26">
                    Toutes l'equipe vous accueillent avec passion pour vous accompagner à la decouverte de nos
                    nombreuses references (Manga, DVD, Goodies) : Classiques, Nouveautés, Occasions.
                    Venez nous rencontrer lors des événements, des ateliers ou des soirées et conquerir le
                    SHINJUKU WORLD !!!
                </p>
                <img class="mt-2" src="http://via.placeholder.com/600x300" alt="Image boutique"/>
            </div>
            <div class="col-sm-2"></div>
            <div class=" col-sm-4 ">
                {% include 'Home/facebook_api.html.twig' %}
            </div>
        </div>
    </section>


        </div>

    </section>


    <section>
        <h2 class="mb-5 text-center">
            Nos Nouveautés</h2>
        <div class="row">
            {% for key, value in article %}
            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                <div class="card block2-pic hov-img0">
                    <img class="card-img-top image-article" src="{{ value.picture}}" alt="Card image cap">
                    <div class="card-body">
                        <h5><a href= "article/{{value.id}}" class="card-title cl10 hov-cl1 trans-04  p-b-6 bold"> {{ value.name}}</h5>
                        <div class="card-text cl13" class="text bold"> {{ value.price}} €</div>
                    </div>

                </div>
            </div>
        {% endfor %}


{% endblock %}

