{% extends 'layout.html.twig' %}

{% block content %}

    <!-- Title page -->
    <section class=" bg-img1 txt-center p-lr-15 p-tb-92">
        <h2 class=" m-t-70 ltext-105 cl0 txt-center">
            Accueil
        </h2>
    </section>

    <!-- Content page -->
    <section class="bg0 p-t-75 p-b-120">
        <div class="container">
            <div class="row">
                <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                    <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                        <h3 class="mtext-111 cl2 p-b-16">LA boutique Orléanaise de manga !</strong></h3>
                        <p class="stext-113  p-b-26">
                            Toutes l'equipe vous accueillent avec passion pour vous accompagner à la decouverte de nos nombreuses references (Manga, DVD, Goodies) : Classiques, Nouveautés, Occasions.
                            Venez nous rencontrer lors des événements, des ateliers ou des soirées et conquerir le SHINJUKU WORLD !!!
                        </p>
                    </div>
                </div>


            </div>

            {% include 'Home/facebook_api.html.twig' %}

            <div class="row">
                <h2 class="col-lg-12">Nos Nouveautés</h2>
                {% for key, value in article %}

                    <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                        <div class="card block2-pic hov-img0">
                            <img class="card-img-top image-article" src="{ {{ value.picture}}" alt="Card image cap">
                            <div class="card-body">
                                <h5><a href="#"class="card-title cl10 hov-cl1 trans-04  p-b-6 bold"> {{ value.name}}</h5>
                                <div class="card-text cl13" class="text bold"> {{ value.price}} €</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>

{% endblock %}

