{% extends 'layout.html.twig' %}

{% block content %}



    <!-- Content page -->
    <section class="bg0 m-t-50">
        <div class="container home-container">
            <div class="row ">
                <div class="col-lg-6 col-sm-12">
                    {% include 'Home/facebook_api.html.twig' %}
                </div>
                <div class="order-md-4 col-md-12 col-lg-6 p-b-30 ">
                    <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md ">
                        <div><h2 class="mtext-111 col-lg-12 cl2 p-b-16 homeTitle text-center">La boutique Orléanaise de Manga !</h2></div>
                        <p class="homePresentation stext-113  p-b-16">
                            Cette boutique de référence de la culture japonaise est remplie du sol au plafond de mangas,
                            de revues portant sur les mangas et le japon, de DVD d'animés, de maquettes, et de
                            goodies.... de mangas !
                            Toutes l'equipe vous accueillent avec passion pour vous accompagner à la decouverte de nos nombreuses references.
                            Venez nous rencontrer lors des événements, des ateliers ou des soirées et conquerir le SHINJUKU WORLD !!!
                        </p>

                    </div>

                </div>
            </div>
        </div>
    </section>

            {% include 'Home/facebook_api.html.twig' %}

            <div class="row">
                <h2 class="col-lg-12">Nos Nouveautés</h2>
                {% include 'Article/cardArticle.html.twig' %}

            </div>
        {% endfor %}

{% endblock %}

