<div class="container p-tb-150 p-b-150">

    <h2 id="contactFormTitle" class="f_quando justify-content-center">Envoyez un message :</h2>
    <form method="post" action="">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-12">
                <div class="form-group">
                    <label for="lastName">Nom :</label>
                    <input type="text" name="lastName" class="form-control" id="lastName" required>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-12">
                <div class="form-group">
                    <label for="firstName">Prénom :</label>
                    <input type="text" name="firstName" class="form-control" id="firstName" required>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-12">
                <div class="form-group">
                    <label for="email">E-mail :</label>
                    <input type="email" name="email" class="form-control" id="email" required>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-12">
                <div class="form-group">
                    <label for="message">Message :</label>
                    <textarea class="form-control" id="message" name="message" rows="10" required></textarea>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-12" id="sendContactFormButton">
                <button type="submit" class="btn btn-shinjuku">Envoyer</button>
            </div>
        </div>
    </form>

</div>