<!-- Footer -->
<footer class="">
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-between w-100">
                <!-- Large modal -->
                <button type="button" class="text-center f_quando hov-cl1" data-toggle="modal" data-target=".bd-example-modal-lg">Mentions Légales</button>

                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" >
                    <div class="modal-dialog modal-lg">
                        <div class="modal-header"></div>
                        <div class="modal-content">
                            <u><b> Vos conditions de ventes</b></u>
                            Préambule
                            <p>Le site est la propriété de la société SHINJUKU en sa totalité, ainsi que l'ensemble des droits y afférents. Toute reproduction, intégrale ou partielle, est systématiquement soumise a l'autorisation des propriétaires. Toutefois, les liaisons du type hypertextes vers le site sont autorisées sans demandes spécifiques.</p>
                            <p>1. Acceptation des conditions
                                Le client reconnaît avoir pris connaissance, au moment de la passation de commande, des conditions particulières de vente énoncées sur cet écran et déclare expressément les accepter sans réserve. Les présentes conditions générales de vente régissent les relations contractuelles entre SHINJUKU et son client, les deux parties les acceptant sans réserve. Ces conditions générales de vente prévaudront sur toutes autres conditions figurant dans tout autre document, sauf dérogation préalable, expresse et écrite.</p>
                            <p>2. Produits
                                Les photographies illustrant les produits, n'entrent pas dans le champ contractuel. Si des erreurs s'y sont introduites, en aucun cas, la responsabilité de SHINJUKU ne pourra être engagée. La majorité des produits proposés à ses clients par SHINJUKU sont disponibles dans notre entrepôt.</p>
                            <p>3. Commande
                                Les systèmes d'enregistrement automatique sont considérés comme valant preuve, de la nature, du contenu et de la date de la commande. SHINJUKU confirme l'acceptation de sa commande au client à l'adresse mail que celui-ci aura communiqué. La vente ne sera conclue qu'à compter de la confirmation de la commande. SHINJUKU se réserve le droit d'annuler toute commande d'un client avec lequel existerait un litige relatif au paiement d'une commande antérieure. Les informations énoncées par l'acheteur, lors de la prise de commande engagent celui-ci : en cas d'erreur dans le libellé des coordonnées du destinataire, le vendeur ne saurait être tenu responsable de l'impossibilité dans laquelle il pourrait être de livrer le produit.</p>
                            <p> 4. Livraison
                                Apres confirmation de commande, SHUNJUKU s'engage a livrer a son transporteur, toutes les références commandées par l'acheteur et ce dans un délai maximum de 48h ouvrées. Ce transporteur s'engage par contrat avec SHINJUKU a livrer la commande a l'adresse de l'acheteur fournie par SHINJUKU. Dans le cas d'un transport en système dit de contre-remboursement, le client s'engage a régler au transporteur ou a son représentant la totalité de la somme indiquée lors de la confirmation de commande.
                                De plus pour les livraisons hors de la France métropolitaine le client s'engage a régler toutes les taxes dues a l'importation de produits, droit de douane, taxe sur la valeur ajoutée, et toutes autres taxes dues en vertu des lois du pays de réception de la commande. Toute les commandes passées à SHINJUKU sont destinées a l'usage personnel des clients, les clients ou les destinataires des produits s'interdisent toute revente partielle ou totale des produits. SHINJUKU se dégage de fait de toute responsabilité juridiques si l'acquittement des taxes n'était pas effectuée par le client.
                                La livraison sera effectuée par La poste en colissimo suivi. La livraison est effectuée dans le créneau horaire prévu avec le client par la remise directe du produit au destinataire annoncé, soit en cas d'absence, à une autre personne habilitées par le client. Les retards éventuels ne donnent pas le droit à l'acheteur de réclamer des dommages et intérêts.
                                Les livraison dans les pays de la CEE sont effectuées par La poste en colissimo suivi Europe, pour les livraisons hors de la CEE les livraisons sont éffectuées par les services postaux internationaux.
                                Dans les cas d'un produit technique, le client veillera particulièrement à vérifier le bon fonctionnement de l'appareil livré, à lire la notice d'emploi qui lui est fournie.
                                En cas de défauts apparents, l'acheteur bénéficie du droit de retour dans les conditions prévues dans ce document.
                                Sont considérés comme cas de force majeure déchargeant le vendeur de son obligation de livrer, la guerre, l'émeute, l'incendie, les grèves, les accidents et l'impossibilité d'être approvisionnés. Les marchandises voyagent toujours aux risques et périls du destinataire. Vérifiez toujours votre colis à l'arrivée. Vous disposez d'un délai de 48 heures pour faire d'éventuelles réserves auprès du transporteur en cas de manquant ou de dégradation.
                                Pour des raisons de disponibilité, une commande peut être livrée en plusieurs fois au client. Le client ne règle alors qu'une seule livraison. Si le client souhaite 2 lieux de livraison, il passe 2 commandes, avec les frais de livraison liés.</p>
                            <p>5. Rétractation
                                Vous avez 14 jours ( à compter de la réception des articles ) pour vous faire une opinion. En cas d'échange ou remboursement, renvoyez le(les) article(s) neuf(s) dans son(leurs) emballage d'origine, intact, accompagné de tous les accessoires éventuels, notices d'emploi et documentations à l'adresse suivante :
                                SHINJUKU
                                19 rue Sainte Catherine
                                45000 Orléans
                                FRANCE
                                En cas d'exercice du droit de rétractation, SHINJUKU est tenu au remboursement des sommes versées par le client, sans frais, à l'exception des frais de retour. Le remboursement est dans dans un délai maximum de 30 jours. (par virement bancaire sur le compte concerné, preuve sera appuyé par mail)</p>
                            <p>6. Prix
                                Le prix est exprimé en euros.
                                Le prix indiqué sur les fiches produit ne comprend pas le transport.
                                Le prix indiqué dans la confirmation de commande est le prix définitif, exprimé toutes taxes comprises et incluant la TVA pour la France et les pays de la CEE . Ce prix comprend le prix des produits, les frais de manutention, d'emballage et de conservation des produits, les frais de transport et de mise en service.</p>
                            <p>7. Paiement
                                Le prix facturé au client est le prix indiqué sur la confirmation de commande adressée par SHINJUKU.
                                Le prix des produits est payable au comptant le jour de la commande effective.
                                Le paiement s'effectue par carte bancaire portant le sigle CB.
                                En ligne SYSTEMPAY vous permet de régler via un serveur bancaire de LA CAISSE D'EPARGNE dans un environnement sécurisé.
                                Votre N° de carte bancaire est donc dirigé vers les serveurs de la banque , votre règlement s'effectue directement à une banque dans un environnement sécurisé sans passer par le serveur de la boutique, garantie d'autant plus importante que vos N° sont connus seulement de notre partenaire bancaire (Caisse d'epargne).
                                La commande validée par le client ne sera considérée effective que lorsque les centres de paiement bancaire concernés auront donné leur accord. En cas de refus des dits centres, la commande sera automatiquement annulée et le client prévenu par courrier électronique. Par ailleurs, SHINJUKU se réserve le droit de refuser toute commande d'un client avec lequel existerait un litige.</p>
                            <p>8. Litiges
                                Le présent contrat est soumis au droit français. SHINJUKU ne peut être tenu pour responsable des dommages de toute nature, tant matériels qu'immatériels ou corporels, qui pourraient résulter d'un mauvais fonctionnement ou de la mauvaise utilisation des produits commercialisés. Il en est de même pour les éventuelles modifications des produits résultant des fabricants. La responsabilité de SHINJUKU sera, en tout état de cause, limitée au montant de la commande et ne saurait être mise en cause pour de simples erreurs ou omissions qui auraient pu subsister malgré toutes les précautions prises dans la présentation des produits En cas de difficultés dans l'application du présent contrat, l'acheteur a la possibilité, avant toute action en justice, de rechercher une solution amiable notamment avec l'aide : d'une association professionnelle de la branche , d'une association de consommateurs ou de tout autre conseil de son choix . Il est rappelé que la recherche de la solution amiable n'interrompt pas le " bref délai " de la garantie légale, ni la durée de la garantie contractuelle. Il est rappelé qu'en règle générale et sous réserve de l'appréciation des Tribunaux, le respect des dispositions du présent contrat relatives à la garantie contractuelle suppose que l'acheteur honore ses engagements financiers envers le vendeur.
                                Les réclamations ou contestations seront toujours reçues avec bienveillance attentive, la bonne foi étant toujours présumée chez celui qui prend la peine d'exposer ses situations. En cas de litige, le client s'adressera par priorité à l'entreprise pour obtenir une solution amiable. A défaut, les Tribunaux de Commerce sont seul compétents, quels que soient le lieu de livraison et le mode de paiement acceptés.</p>
                            <p>9. Garantie
                                Dans tous les cas SHINJUKU ne pourra être tenu pour responsable pour non respect des dispositions réglementaires et législatives en vigueur dans le pays de réception, la responsabilité de SHINJUKU est systématiquement limitée a la valeur du produit mis en cause, valeur a sa date de vente et ce sans possibilités de recours envers la marque ou la société productrice du produit.
                                En toute hypothèse, le client bénéficie de la garantie légale d'éviction et des vices cachés (Art.1625 et suivants du Code Civil). A la condition que l'acheteur fasse la preuve du défaut caché, le vendeur doit légalement en réparer toutes les conséquences (art.1641 et suivants du code civil) ; si l'acheteur s'adresse aux tribunaux, il doit le faire dans un " bref délai " à compter de la découverte du défaut caché (art.1648 du code civil). Vous pouvez contacter le service clients : 5 jours sur 7 ( du mardi au samedi inclus) au N° de tél : 02 38 54 01 57 par mail à shinjukufred@gmail.com</p>
                            <p>10. Informations légales
                                Le renseignement des informations nominatives collectées aux fins de la vente à distance est obligatoire, ces informations étant indispensables pour le traitement et l'acheminement des commandes, l'établissement des factures et contrats de garantie. Le défaut de renseignement entraîne la non validation de la commande. Conformément à la loi " Informatique et Libertés ", le traitement des informations nominatives relatives aux clients a fait l'objet d'une déclaration auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL). Le client dispose (article 34 de la loi du 6 janvier 1978) d'un droit d'accès, de modification, de rectification et de suppression des données qui le concernent, qu'il peut exercer auprès de SHINJUKU. De plus, SHINJUKU s'engage à ne pas communiquer, gratuitement ou avec contrepartie, les coordonnées de ses clients à un tiers.</p>
                            <p>11. Info Legal
                                Credits
                                société : Sarl Shinjuku
                                création : Septembre 2000
                                capital : 11400€
                                RCS: 432 899 409
                                N° TVA intracommunauteée : Fr62 432899409
                                Gérant : Bonny Frédéric
                                Adresse : 19 rue sainte catherine 45000 Orleans
                                tel: 02 38 54 01 57
                                mail : shinjukufred@gmail.com</p>
                        </div>
                    </div>
                </div>






                <p class="mb-0 text-center">
                    <span class="">
                        <li class=fab fa-facebook fa-w-14 fa_size hov-cl1"><a href="http://www.facebook.com/shinjukufred/" title="Facebook" target="_blank"><i class="cl09 fab fa-facebook fa-w-14 fa_size hov-cl1"></i></a></li>
                </p>
                <div class="text-center">
                    <p class="">
                    <p class="lien trans-04 m-r-16 "><a href="contact.html.twig" class=" lien f_quando hov-cl1">Contactez nous!</a></p>

                </div>
            </div>
            <!-- Back to top -->
            <div class="btn-back-to-top fixed-bottom ml-auto" id="myBtn">
                    <span class="symbol-btn-back-to-top">
                        <a class="fas fa-chevron-up hov-cl1 cl0"></a>
                    </span>
            </div>
        </div>
    </div>

</footer>
