
<!-- Footer -->
    <div class="container footer">

        <div class="row">
            <div class="d-flex justify-content-between w-100">
                <!-- modal lien info legale -->
                <button type="button" class="cl0 text-center f_quando hov-cl1" data-toggle="modal" data-target=".bd-example-modal-lg">Mentions Légales</button>

                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" >
                    <div class="modal-dialog modal-lg">
                        <div class="modal-header"><u><b>Mentions Légales</b></u></div>
                        <div class="modal-content p-all-50">

                            <p>société : Sarl Shinjukuph</p>
                            <p>création : Septembre 2000</p>
                            <p>capital : 11400€</p>
                            <p>RCS: 432 899 409</p>
                            <p>N° TVA intracommunauteée : Fr62 432899409</p>
                            <p>Gérant : Bonny Frédéric</p>
                            <p>Adresse : 19 rue sainte catherine 45000 Orleans</p>
                            <p>tel: 02 38 54 01 57</p>
                            <p>mail : shinjukufred@gmail.com</p>
                        </div>
                    </div>
                </div>
                <!-- logo cliquable fb -->
                <p class="mb-0 text-center">
                        <li class=fab fa-facebook fa-w-14 fa_size hov-cl1"><a href="http://www.facebook.com/shinjukufred/" title="Facebook" target="_blank"><i class="cl0 fab fa-facebook-f fa-w-14 fa_size hov-cl1"></i></a></li>
                </p>
                <!-- lien vers formulaire client -->
                <div class="text-center">

                    <p class="cl0  trans-04 m-r-16 "><a href="#" class="cl0 f_quando hov-cl1">Contactez nous!</a></p>

                </div>
            </div>
            <!-- Back to top -->
            <div class="btn-back-to-top fixed-bottom ml-auto" id="myBtn">

                    <span class="symbol-btn-back-to-top hov-cl1">


                        <a class="fas fa-chevron-up hov-cl1 cl0"></a>
                    </span>
            </div>
        </div>
    </div>
