<!-- Footer -->
<footer class="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-lg-8 hov-cl1">
                <a class="col-xs-4 col-sm-4 col-lg-8 fs-18 hov-cl1 trans-04 m-r-16">mentions légales</a>
            </div>
            <div class="col-xs-4 col-sm-4 col-lg-2 hov-cl1">
                <a class="col-xs-4 col-sm-4 col-lg-2 fs-18 hov-cl1 trans-04 m-r-16">Contactez nous!</a>
            </div>
        </div>



        <!-- Back to top -->
        <div class="col-xs-2 col-sm-4 col-lg-2 btn-back-to-top" id="myBtn">
                <span class="symbol-btn-back-to-top">
                    <i class="fas fa-chevron-up hov-cl1"></i>
                </span>
        </div>
    </div>
</footer>