<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/assets/images/icons/favicon.png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/css/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/css/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/css/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/iconic/css/material-design-iconic-font.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/css/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/css/util.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/api.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <!--===============================================================================================-->
    <link href="https://fonts.googleapis.com/css?family=Quando" rel="stylesheet">



    <title>{% block title %}Shinjuku-World{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/styles.css">
    {% block stylesheet %}{% endblock %}

    <link rel="icon" href="/assets/images/icons/favicon.png">
</head>

<body>
    <header>
    {% include 'header.html.twig' %}

        {% block banner%}<div class="banner"></div>
            <div class="container d-none d-md-block">
                <div class="row h1">
                    <div class="col align-self-start f_quando bold slogan">La <span class="slogan-couleur">Mangatek</span> d'Orléans</div>
                        <div  class="col align-self-center f_quando bold slogan2 m-t-75">pour <span class="slogan-couleur">tout</span></div>
                        <div class="col align-self-end f_quando bold slogan3 m-t-250">les <span class="slogan-couleur">Otakus</span></div>
                </div>
            </div>{% endblock %}


        {% include 'banner.html.twig' %}
    </header>

    <main>
        {% block content %}{% endblock %}

    </main>

    <footer>
        {% include 'footer.html.twig' %}

    </footer>

</body>
    <!--===============================================================================================-->
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/assets/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/assets/js/popper.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/assets/js/select2.min.js"></script>
    <script>
        $(".js-select2").each(function(){
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>
    <!--===============================================================================================-->
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script src="/assets/js/parallax100.js"></script>
    <script>
        $('.parallax100').parallax100();
    </script>
    <!--===============================================================================================-->
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script>
        $('.js-addwish-b2').on('click', function(e){
            e.preventDefault();
        });

        $('.js-addwish-b2').each(function(){
            var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
            $(this).on('click', function(){
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-b2');
                $(this).off('click');
            });
        });

        $('.js-addwish-detail').each(function(){
            var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

            $(this).on('click', function(){
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-detail');
                $(this).off('click');
            });
        });

        /*---------------------------------------------*/

        $('.js-addcart-detail').each(function(){
            var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
            $(this).on('click', function(){
                swal(nameProduct, "is added to cart !", "success");
            });
        });

    </script>
    <!--===============================================================================================-->
    <script src="/assets/js/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function(){
            $(this).css('position','relative');
            $(this).css('overflow','hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function(){
                ps.update();
            })
        });
    </script>
    <!--===============================================================================================-->
    <script src="/assets/js/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/assets/js/uploadPreview.js"></script>
    <!--===============================================================================================-->
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
    <script src="/assets/js/main.js"></script>
{% block javascript %}{% endblock %}
</body>
</html>
