{% extends 'layout.html.twig' %}
{%block title %}{{ parent() }} - Article{% endblock %}
{% block banner %} <div class="banner2"></div>{% endblock %}
{% block content %}
<section class="product">


    <!-- Product -->
    <div class="bg0 m-t-23 p-b-140">
        <div class="container">


            <!--Category-->
            <div class="row d-flex flex-row p-b-70 p-t-30">
                <div class="m-lr-auto ">
                    <a href="/manga" class="hov-cl1 cl10 bold">Manga</a>
                </div>
                <div class="m-lr-auto">
                    <a href="/dvd" class="hov-cl1 cl10 bold">DVD / Blu-Ray</a>
                </div>
                <div class="m-lr-auto">
                    <a href="/goodies" class="hov-cl1 cl10 bold">Goodies</a>
                </div>

            </div>
            <!--Search bar-->
            <div class="row d-flex justify-content-center bd-highlight mb-3" id="search_product_bar">
            <nav class="m-b-100 search_bar col-md-8 col-lg-5  navbar navbar-light">
                <form class="search_bar form-inline" method="get"  action="/goodies">

                    <input class="search_bar form-control mr-sm-2" type="search" name="search" placeholder="ðŸ” " aria-label="Search">
                    <input type="hidden" name="category" value="Goodies">

                </form>
            </nav>
        </div>
    </div>


    <!-- Block2 -->
    <div class="container">
        <div class="row ">
            {% for article in article %}
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 m-b-35 block-article">

                    <div class="block2">
                        <div class="block2-pic hov-img0">
                            <img src="{{ article.picture }}" alt="IMG-PRODUCT" class="image-article" >
                        </div>

                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l ">
                                <a href="#" class=" cl10 hov-cl1 trans-04  p-b-6 bold">
                                    {{ article.name }}
                                </a>

                                <span class=" ">
									Prix:{{ article.price }}â‚¬
								</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% endblock %}
