/** API facebook **/
.facebook_api {
    overflow:hidden;
    border: 0;
    background-color: transparent;
    border:none;
    margin:0;
    height:75vh;
    width:70vw;

}
.iframe{
    padding-right: 10vh;
    padding-left: 10vh;
}

@media (max-width: 768px) {
    .iframe {
        padding: 6vh;
    }
}

