{% extends 'layout.html.twig' %}
{% block title %}{{ parent() }} - Articles {% endblock %}
{% block banner %}
    <div class="banner2"></div>{% endblock %}
{% block content %}
    <section class="product">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center title-category m-t-100">
                    <img class="eventail-category" src="../assets/images/hire-japanese-culture.png" alt="éventail">
                    <h2 class="nameTitle bold cl13 text-uppercase p-t-10 f-Shojumaru">{{ category ?? 'Recherche générale' }}</h2>
                    <img class="eventail-category" src="../assets/images/hire-japanese-culture.png" alt="éventail">
                </div>
                <!-- Search Bar -->
                {% if category is not empty %}
                    <div class="container searchbar-container">
                        <div class="row d-flex justify-content-center bd-highlight mb-3 ">
                            <nav class="m-b-30 search_bar col-md-12 col-lg-5 col-xs-12 col-sm-12  navbar navbar-light m-t-30">
                                <form class="search_bar form-inline" method="get" action="">
                                    <label for="search">Recherche</label>
                                    <input type="hidden" name="category" value="{{ category }}"/>
                                    <input class="search-bar form-control my-lg-0" id="search" type="search"
                                           name="search" aria-label="Search" placeholder="Ex: naruto..."
                                           label="recherche">
                                    <button class="btn btn-outline-success my-2 my-lg-0" type="submit"><i
                                                class="far fa-search fas"></i></button>
                                </form>
                            </nav>
                        </div>
                    </div>
                {% endif %}
                {% include 'Article/pagination.html.twig' %}
                {% include 'Article/cardArticle.html.twig' %}
                {% include 'Article/pagination.html.twig' %}
            </div>
        </div>
    </section>
{% endblock %}