{% extends 'layout.html.twig' %}

{% block content %}
    <div class=" mx-auto m-t-100 cl13 bold">
        <h2 class="f_quando">Editer un article :</h2>
    </div>
    {% include 'Article/_form.html.twig' %}
{% endblock %}
