{% extends 'layout.html.twig' %}
{% block title %}{{ parent() }} - ADMIN Editer {% endblock %}
{% block content %}
    <div class=" row justify-content-center m-t-100 cl13 bold">
        <h2 class="f_quando">Editer un article :</h2>
    </div>
    {% include 'Article/_form.html.twig' %}
{% endblock %}
